#sky {
	width: 960px;
	height: 400px;
	background: radial-gradient(ellipse at left top, #f9f9f9 0%,#f9f7b7 14%,#f9f9f9 25%,#0066db 100%);
}

@font-face {
	font-family: Animated;
	src: url("resources/Animated.ttf");
}

#text {
	font-family: Animated;
	font-size: 3.2em;
	position: absolute;
	top: 40px;
	left: 515px;
	color: #FDBC21;
}

#beach img {
	width: 960px;
}

#VladoG {
	position: absolute;
	top: 255px;
	left: 60px;
}

#Petia {
	position: absolute;
	top: 220px;
	left: 215px;
}

#Tedi {
	position: absolute;
	top: 405px;
	left: 295px;
}

#Nakov {
	position: absolute;
	top: 200px;
	left: 445px;
}

#Alex {
	position: absolute;
	top: 245px;
	left: 520px;
}

#VladoK {
	position: absolute;
	top: 265px;
	left: 700px;
}