* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#wrapper {
    margin: 10px auto;
    width: 30%;
    background-image: url('img/formBackground.jpg');
    padding: 20px;
    border-radius: 5px;
}

fieldset {
    border: none;
    margin-top: 10px;
}

fieldset legend {
    color: white;
    font-size: 16px;
    margin-left: 5px;
    margin-bottom: 10px;
}

fieldset div {
    background: rgba(255, 255, 255, 0.3);
    width: 95%;
    height: 30px;
    margin: 3px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}

fieldset div#cardType {
    background: rgba(255, 255, 255, 0.3);
    width: 95%;
    height: 60px;
    margin: 3px;
    border: 1px solid white;
    border-radius: 5px;
}

fieldset div#cardType div {
    background: none;
    border: none;
    width: 95%;
    padding-top: 0px;
}

fieldset div#textareaDiv {
    height: 100px;    
}

input {
    display: inline-block;
    width: 60%;
    height: 25px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    padding-left: 5px;
}

label {
    display: inline-block;
    width: 30%;
}

textarea {
    height: 90px;
    display: inline-block;
    width: 60%;
}

fieldset div#cardType input {
    width: 13px;
    margin-left: 10px;
    margin-top: 10px;
}

fieldset div#cardType div label {
    width: 38px;
    padding-bottom: 16px;
    font-size: 15px;
    vertical-align: middle;
    padding-left: 30px;
}

#cardType label:nth-child(2) {
	background-image: url(img/visa.jpg);
	background-size: 28px 16px;
	background-repeat: no-repeat;
}

#cardType label:nth-child(4) {
	background-image: url(img/amex.png);
	background-size: 28px 16px;
	background-repeat: no-repeat;
}

#cardType label:nth-child(6) {
	background-image: url(img/mastercard.jpg);
	background-size: 28px 16px;
	background-repeat: no-repeat;
}

input#submit {
	width: 100px;
	background: #051934;
	border-radius: 50px;
	color: white;
	margin-left: 40%;
	margin-top: 10px;
}





















