#wrapper{
	margin: 0 auto;
}
body {
	background: url(../img/background.jpg) no-repeat; 
}

h1 {
	font-size: 40px;
	color: #F3B65A;
	font-family: sans-serif;
}

li {
	color: #f3b65a;
	font-size: 30px;
	list-style-type: square;
	font-family: sans-serif;
	line-height: 60px;
}

.white {
	color: white
}

.colored {
	border: 1px solid #D2C9AE;
    background: rgba(128, 128, 128, 0.5);
	font-family: sans-serif;
	color: #FBEFCC;
	font-size: 25px;
	margin-left: 30px;
	margin-right: 4%;
	padding-left: 10px;
	line-height: 5px;
}

dl {
	line-height: 25px;
}




